language: rust
cache: cargo
rust:
  - stable
  - beta
  - nightly
  - 1.34.0
matrix:
  allow_failures:
    - rust: nightly
script:
  - cargo build --verbose --all --all-features
  - cargo test --verbose --all --all-features
notifications:
  email: false
